.uiButton{
    /* remove o valor padrão  */
    background-color: unset; 
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 10px;
    /* não quebrar de linha */
    white-space: nowrap;
}

.uiButton--bordered-primary{
    border: 1px solid #3498db;
    color: #3498db;
}
.uiButton--contained-success{
    color:white;
    background-color:green;
    border: 1px solid green;
}
.uiButton--bordered-warning{
    color:rgb(240, 53, 21);
    border: 1px solid rgb(255, 60, 0);
    
}
